*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/inspectionProfiles/*
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
!debug.keystore
private/
mobile/release/
wear/release/
mobile/src/main/assets/paperwork.json
wear/src/main/assets/paperwork.json